workflows/wf-02-prefilter.json
{
  "name": "WF-02: Pre-Filter",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}},
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "t1",
      "name": "Every 15 Min"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value::text FROM setting WHERE key = 'target_categories'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "id": "s1",
      "name": "Get Target Categories",
      "credentials": {"postgres": {"id": "mvx8V6R6tpqp0GEJ", "name": "RevOps PostgreSQL"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, category, categories, phone, website, \"isClosed\" FROM company WHERE status = 'DISCOVERED' ORDER BY \"createdAt\" ASC LIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 0],
      "id": "q1",
      "name": "Get RAW Companies",
      "credentials": {"postgres": {"id": "mvx8V6R6tpqp0GEJ", "name": "RevOps PostgreSQL"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst targets = JSON.parse($('Get Target Categories').item.json.value);\n\nconst category = (item.category || '').toLowerCase();\nconst cats = (item.categories || []).join(' ').toLowerCase();\nconst allText = category + ' ' + cats;\n\nconst industryMatch = targets.some(t => allText.includes(t));\nconst hasPhone = !!item.phone;\nconst hasWebsite = !!item.website;\nconst notClosed = !item.isClosed;\n\nconst pass = industryMatch && (hasPhone || hasWebsite) && notClosed;\n\nreturn { json: { id: item.id, pass, reason: !industryMatch ? 'industry_mismatch' : !notClosed ? 'closed' : (!hasPhone && !hasWebsite) ? 'no_contact_info' : 'passed' } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "code1",
      "name": "Apply Filter Rules"
    },
    {
      "parameters": {
        "conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "c1", "leftValue": "={{ $json.pass }}", "rightValue": "true", "operator": {"type": "string", "operation": "equals"}}]},
        "combineOperation": "all"
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 0],
      "id": "if1",
      "name": "Passed?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE company SET status = 'FILTERED', \\\"updatedAt\\\" = NOW() WHERE id = '\" + $json.id + \"'\" }}",
        "options": {"queryBatching": "independently"}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 0],
      "id": "q2",
      "name": "Mark PRE_FILTERED",
      "credentials": {"postgres": {"id": "mvx8V6R6tpqp0GEJ", "name": "RevOps PostgreSQL"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE company SET status = 'EXCLUDED', \\\"updatedAt\\\" = NOW() WHERE id = '\" + $json.id + \"'\" }}",
        "options": {"queryBatching": "independently"}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 200],
      "id": "q3",
      "name": "Mark FILTERED_OUT",
      "credentials": {"postgres": {"id": "mvx8V6R6tpqp0GEJ", "name": "RevOps PostgreSQL"}}
    }
  ],
  "connections": {
    "Every 15 Min": {"main": [[{"node": "Get Target Categories", "type": "main", "index": 0}]]},
    "Get Target Categories": {"main": [[{"node": "Get RAW Companies", "type": "main", "index": 0}]]},
    "Get RAW Companies": {"main": [[{"node": "Apply Filter Rules", "type": "main", "index": 0}]]},
    "Apply Filter Rules": {"main": [[{"node": "Passed?", "type": "main", "index": 0}]]},
    "Passed?": {"main": [[{"node": "Mark PRE_FILTERED", "type": "main", "index": 0}], [{"node": "Mark FILTERED_OUT", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
